<% provide(:title, 'Batch seeding of patients/HLAs/samples data from a CSV file') %>
<h2><%= yield(:title) %></h2>
<p>
Writing a set of patients data en bloc ("batch seeding") is possible in this page.
</p>
<div>
<h4>Instruction</h4>
<p>
 The CSV file for the batch seeding must have a close format. 
 You can get a template Excel file for this purpose from a following link.<br>
      <%= link_to 'Download Excel Template', {:controller => "patients", :action => "gettemplate"} %>
</p>
<ol>
  <li> First line of the template file composes of an internal name of each column in the system, so that you cannot change this line.
  <li> The order of the column does not affect the reading. You can change the order as you want.
  <li> You can upload only new patients' data as well as new sample data for existent patients. Updating entries of existing records are rejected.
  <li> Strict description of data are required in a certain column, some of which are provided as pull-down menu in Excel. Limits and requirements of every columns are shown in <%= link_to 'Help Page', help_path(:anchor => 'Seeding') %>.
You should read <%= link_to 'the help page', help_path(:anchor => 'Seeding') %> carefully prior to making a seeding CSV file.
  <li> Save the data to CSV format (file -> Save as.. -> select 'CSV file' and click 'Save' ) when you finish to make a seeding file.
  <li> Then, select the CSV filename at a dialogue that will pop-up with clicking 'Select File' button.
</ol>
</div>

<div class="panel-body">
  <%= form_tag( patients_import_path, :method => :post, multipart: true) do %>
    <div class="form-group">
      <%= file_field_tag :csv_file %><br>
    </div>
    <%= submit_tag "Seed This Data", :class => "btn btn-primary" %>
  <% end %>
</div>
<%= link_to 'Back', patients_path %>
