<p id="notice"><%= notice %></p>

<p>
  <strong>Niid:</strong>
  <%= @patient.niid_id %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @patient.lab_id %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @patient.affiliation %>
</p>

<p>
  <strong>Hosp:</strong>
  <%= @patient.hosp_id %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Nationarity:</strong>
  <%= @patient.nationarity %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Date diagnosed:</strong>
  <%= @patient.date_diagnosed %>
</p>

<p>
  <strong>Edu background:</strong>
  <%= @patient.edu_background %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @patient.occupation %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @patient.marital_status %>
</p>

<p>
  <strong>Risk:</strong>
  <%= @patient.risk %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @patient.operator_id %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
