<p id="notice"><%= notice %></p>

<p>
  <strong>NIID_ID:</strong>
  <%= @patient.niid_id %>
</p>

<p>
  <strong>Laboratory_ID:</strong>
  <%= @patient.lab_id %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @patient.affiliation %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @patient.hosp_id %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @patient.country_code.country %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Date diagnosed:</strong>
  <%= @patient.date_diagnosed %>
</p>

<p>
  <strong>Educational background:</strong>
  <%= @patient.edu_background %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @patient.occupation %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @patient.marital_status %>
</p>

<p>
  <strong>Risk:</strong>
  <%= @patient.risk %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @operator_name %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
